* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: var(--text_color);
}

ul {
  list-style: none;
}

:root {
  --background_color: #014e4e;
  --background_color1: #027777;
  --text_color: #ffffff;
  --hover_color_one: #ff004f;
  --text-color2: #ff004f;

  --text-color3: #ababab;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background_color1);
  color: var(--text_color);
}

header {
  width: 100%;
  height: 100vh;
  background-image: url(images/imran3.png);
  background-color: #013030;
  background-size: 700px;
  background-position: right bottom;
  background-repeat: no-repeat;
}

.red {
  color: #ff004f;
}

.green {
  color: green;
}

.logo p {
  font-size: 50px;
  font-weight: 700;
}

.container {
  padding: 10px 10%;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.nav-items li {
  display: inline-block;
  margin: 10px 20px;
}

.nav-items li a {
  font-size: 18px;
  position: relative;
}

.nav-items li a::after {
  position: absolute;
  content: "";
  width: 0;
  height: 3px;
  background: var(--hover_color_one);
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

.nav-items li a:hover::after {
  width: 100%;
}

.header-text {
  margin-top: 20%;
  font-size: 30px;
}

.header-text h1 {
  font-size: 60px;
  margin-top: 20px;
}

.header-text span {
  color: var(--text-color2);
  font-weight: bold;
}

/* about section  */
#about {
  padding: 80px 0;
  color: var(--text-color3);
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col-1 {
  flex-basis: 35%;
}

.about-col-1 img {
  width: 100%;
  border-radius: 15px;
}

.about-col-2 {
  flex-basis: 60%;
}

.sub-text {
  font-size: 40px;
  font-weight: 600px;
  color: var(--text_color);
}

.tab-titles {
  display: flex;
  margin: 20px 0 40px;
}

.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background: var(--hover_color_one);
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.tab-links.active-link::after {
  width: 50%;
}

.tab-contents ul li {
  margin: 10px 0;
}

.tab-contents ul li span {
  color: var(--text_color);
  font-size: 18px;
  font-weight: bold;
}

.tab-contents {
  display: none;
}

.tab-contents.active-tab {
  display: block;
}

/* -----------------Services-----------  */
#services {
  padding: 30px 0;
}

.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.services-list div {
  background: var(--background_color);
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 10px;
  transition: background 0.5s, transform 0.5s;
}

.services-list div i {
  font-size: 45px;
  margin-bottom: 30px;
}

.services-list div h2 {
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 15px;
}

.services-list div a {
  text-decoration: none;
  color: var(--text_color);
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
}

.services-list div:hover {
  background: #ff004f;
  transform: translateY(-10px);
}

/* ---------- Protfolio ----------- */
#protfolio {
  margin: 50px 0;
}

.work-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.work {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.work img {
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}

.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.8), #013030);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 13px;
}

.layer h3 {
  font-weight: 500;
  margin-bottom: 20px;
}

.layer a {
  margin-top: 20px;
  color: var(--hover_color_one);
  text-decoration: none;
  line-height: 60px;
  background-color: var(--text_color);
  font-size: 18px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  transition: transform 0.5s;
}

.work:hover img {
  transform: scale(1.1);
}

.work:hover .layer {
  height: 100%;
}

.btn {
  display: block;
  margin: 50px auto;
  width: fit-content;
  background: var(--background_color);
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: #fff;
  transition: background 0.5s;
}

.btn:hover {
  background: #ff004f;
}

/* ---------------------contact ---------------- */

.contact-left {
  flex-basis: 35%;
}

.contact-right {
  flex-basis: 65%;
}

.contact-left p {
  margin-top: 30px;
}

.contact-left p i {
  color: #013030;
  margin-right: 15px;
  font-size: 20px;
}

.social-icons {
  margin-top: 30px;
}

.social-icons a {
  text-decoration: none;
  font-size: 40px;
  margin-right: 15px;
  display: inline-block;
  transition: transform 0.5s;
}

.social-icons a:hover {
  color: var(--background_color);
  transform: translateY(-5px);
}

.btn.btn2 {
  background: var(--hover_color_one);
  display: inline-block;
}

.contact-right form {
  width: 100%;
}

form input,
form textarea,
form button {
  width: 100%;
  border: 0;
  outline: none;
  background: var(--background_color);
  padding: 15px;
  margin: 15px 0;
  color: var(--text_color);
  font-size: 18px;
  border-radius: 6px;
}

form .btn2 {
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}

#copyright {
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background: var(--background_color);
  font-weight: 300;
  margin-top: 20px;
}

/* ---------------media queries -------------- */

nav .fas {
  display: none;
}

@media only screen and (max-width: 1350px) {
  #header {
    background-position: right bottom;
    background-size: 550px;
  }

  .header-text {
    font-size: 30px;
    width: 100%;
  }

  .header-text h1 {
    font-size: 50px;
  }
}

@media only screen and (max-width: 1000px) {
  #header {
    /* background-image: none; */
    background-size: 550px;
  }

  .header-text {
    font-size: 25px;
  }
  .header-text h1 {
    font-size: 40px;
  }

  nav .fas {
    display: block;
    font-size: 25px;
  }

  nav ul {
    background: var(--text-color2);
    position: fixed;
    top: 0;
    right: -200px;
    width: 150px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
  }

  nav ul li {
    margin: 25px;
    display: block;
  }

  nav ul .fas {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }

  /* ------------about----------- */
  .sub-title {
    font-size: 40px;
  }

  .about-col-1,
  .about-col-2 {
    flex-basis: 100%;
  }

  .about-col-1 {
    margin-bottom: 30px;
  }

  .about-col-2 {
    font-size: 14px;
  }

  .tab-links {
    font-size: 16px;
    margin-right: 20px;
  }

  /* work  */
  .work-list {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .info {
    font-size: 10px;
  }

  /* //contact  */
  .contact-left,
  .contact-right {
    flex-basis: 100%;
  }

  .info {
    display: none;
  }

  #copyright {
    font-size: 14px;
  }
}

@media only screen and (max-width: 700px) {
  #header {
    background-position: center bottom;
    background-size: 500px;
  }

  .header-text {
    margin-top: 90px;
    text-align: center;
    font-size: 20px;
  }

  .header-text h1 {
    font-size: 30px;
  }

  .info {
    display: none;
  }
}

@media only screen and (max-width: 375px) {
  #header {
    background-position: center bottom;
    background-size: 400px;
  }

  .header-text {
    margin-top: 60px;
    text-align: center;
  }

  .header-text {
    text-align: center;
  }
}
